USE [master]
GO
/****** Object:  Database [test]    Script Date: 05/03/2020 18:46:40 ******/
CREATE DATABASE [test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [test]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 05/03/2020 18:46:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] NULL,
	[Name] [nchar](10) NULL,
	[Price] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 05/03/2020 18:46:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[id] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Product] ([id], [Name], [Price]) VALUES (1, N'Apple     ', 10)
INSERT [dbo].[Product] ([id], [Name], [Price]) VALUES (2, N'Banana    ', 5)
INSERT [dbo].[Product] ([id], [Name], [Price]) VALUES (3, N'Pear      ', 3)
INSERT [dbo].[Sales] ([id], [ProductID], [Quantity]) VALUES (1, 1, 10)
INSERT [dbo].[Sales] ([id], [ProductID], [Quantity]) VALUES (2, 1, 20)
INSERT [dbo].[Sales] ([id], [ProductID], [Quantity]) VALUES (3, 2, 5)
USE [master]
GO
